html {
    overflow: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}
.background {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/bmbaron/todo-list/main/src/images/image.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -999;
}

.main-container {
    margin: auto;
    padding: 0;
    height: 100vh;
    width: 100vw !important;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-container .searchbox{
    margin-top: 30vh;
    width:300px;
    line-height: 50px !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    padding-left: 10px;
    outline: none !important;
    font-size: 1.4rem;

}

.main-container .searchbox:hover {
    box-shadow: 1px 1px lightgrey;
}


.main-container .button-container {
    margin-top: 2vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.main-container .button-container .button {
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: black;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    background:#9EEBED;

}

@media (max-width: 500px) {

    .main-container {
        width: 400px; 
        margin-left: auto;
        margin-right: auto;
    }
    .main-container .logo {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-container .searchbox {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-container .title-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #064A88;
    position: fixed;
    top: -1rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    background: #C1F6F9;
    height: 2rem;
}
.main-container .title-container h1 {
    font-family: 'Truculenta', sans-serif;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    margin-bottom: 0;
    font-size: 4rem;
}

.main-container .title-container .control-panel {
    display: flex;
    flex-grow: 1;
    margin: auto;
    font-size:2rem;
    visibility: hidden;
    height: 4rem;
    background: #C1F6F9;
    border-radius: 10px;
}

@media (max-width: 610px) {
    .main-container .title-container h1 {
        margin-top: 1rem;
    }
    .main-container .title-container .control-panel {
        width: 100vw;
    }
    .main-container .title-container h1 {
        font-size: 2.5rem;
    }
    .main-container .title-container .control-panel .button {
        width: 7rem !important;
        font-size: 1rem !important;
    }
}

.button-group {
    display: flex;
    flex-grow: 1;
}

.main-container .title-container .control-panel .button {
    background: #064A88;
    color: white;
    width: 12rem;
    text-decoration: none;
    line-height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}

.button:hover {
    opacity: 0.4;
    border: none;
}

.main-container .project-container {
    visibility: hidden;
    width: 100vw;
    overflow: scroll;
    margin: auto;
    margin-top: -6rem;
    display: flex;
    flex-grow: 1;
    margin-bottom: 0rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-container .project-container::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.main-container .project-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-container .project-container .project-view {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 6rem;
}


.main-container .project-container .project-view .project {
    background: white;
    font-size: 3.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: 4rem;
    color: white;
}

@media (max-width: 610px) {
    .main-container .project-container .project-view .project {
        width: 80%;
    }
}
.main-container .project-container .project-view .project .project-name{
    width: fit-content;
    font-size: 2rem;
    padding: 10px;
    background:#064A88;
    opacity: 0.7;
    color: white;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}



.main-container .project-container .project-view .project .task {
    background: rgb(104,172,231);
    width: 80%;
    height: 5rem;
    margin-top: 1rem;
    font-size: 2vw;
    display: flex;
}



.form2 {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: 0;
    width: 40%;
    margin: auto;
    border: 1px solid #dfe1e5;
    background-color: lightskyblue;
    border-radius: 3rem;
    position: relative;
    top: -10rem; 
    margin-bottom: -10rem;    
    font-size: 1rem;
}

@media (max-width: 610px) {
    .main-container .project-container {
        margin-top: -3rem;
    }
    .form2[style *= "visibility: visible;"] {
        margin-top: -2rem;
    }
    .form2 {
        width: 80%;
    }
    .form2 > input {
        margin-bottom: 0;
        margin-top: 0.5rem;
        width: 60vw !important;
    }
    .form2 > input:first-of-type {
        margin-top: 1rem;
    }
    .form2 > input[type="date"]:not(.has-value):before {
            color: grey;
            content: attr(placeholder);
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 0;
    }
    .form2 > select {
        height: 2rem !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form2 > input {
    width: 60%;
}


.task-form {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    outline: none !important;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
    font-size: 2rem;
}

.task-row {
    border-radius: 10px;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.project-view .task-area {
    min-height: 10vh !important;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

.project-buttons {
    display: flex;
    flex-direction: row;
    height: 4rem;
}

.project-buttons .task-button {
    color: black;
    background: #b5e1f7;
    padding: 10px;
    cursor: pointer;
    font-size: 2vw;
    flex-grow: calc(1/3);
    border-bottom-left-radius: 10px;
    border: 0;
    font-size: clamp(20px, 2vw, 3vw);
}

.task-button:hover {
    transform: scale(1.1);
}

.project-buttons .finished-button {
    color: black;
    background: #b0f9ac;
    padding: 10px;
    cursor: pointer;
    font-size: 2vw;
    flex-grow: calc(1/3);
    border: 0;
    font-size: clamp(20px, 2vw, 3vw);
}

.finished-button:hover {
    transform: scale(1.1);
}

.project-buttons .delete-button {
    color: black;
    background: #fac5d3;
    padding: 10px;
    cursor: pointer;
    font-size: 2vw;
    flex-grow: calc(1/3);
    border-bottom-right-radius: 10px;
    border: 0;
    font-size: clamp(20px, 2vw, 3vw);
}

.delete-button:hover {
    transform: scale(1.1);
}


input[type="date"] {
    padding: 2px;
    color: black;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

select{
    font-size: 1rem;
    width: 125px;
    margin: auto;
    border-radius: 7px;
}


.footer {
    position: absolute;
    bottom: 0;
    flex-grow: 0.2;
    background: white;
    margin-top: 2rem;
}

.delete-article {
    display: block;
    float: right;
    padding-right: 12px;
    margin-top: -0.6rem;
    text-align: center;
    font-style: normal;
    color: black;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-size: 1.5rem;
  }

h2 {
    width: 70%;
    margin: 0 auto 15px auto;
}

h4 {
    margin: auto !important;
    width: 45% !important;
}

div[contenteditable=true] > div {
    display:inline-block;
} 

.deadline-and-priority {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    width: 50%;
    margin: auto;
}

.deadline-and-priority > * {
    flex-grow: 1;
}

.deadline {
    margin-right: 10px !important;
}

@media (max-width: 1000px) {
    .deadline-and-priority {
        flex-direction: column;
        margin: auto;
    }

    .deadline-and-priority > * {
       width: 130px;
       margin: auto;
    }
    .deadline {
        margin-right: auto !important;
    }
}

.description {
    width: auto;
    margin: auto 4rem auto 4rem;
}

.hidden {
    position: absolute; 
    left: -999em;
}

#cancel-button1 {
    background: #f5e642;
    color: black;

}

#cancel-button {
    background: #f5e642;
    color: black;
}

#submit-task-button {
    background: white;
    color: black;
}

.disabled {
    cursor: not-allowed;
}

.disabled > * {
    cursor: not-allowed;
    pointer-events: none;
}

button[disabled]{pointer-events:none;}
